<div>
    <h1 class="titulos">Habilidades</h1><hr>
    <div *ngFor="let item of items">
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex flex-row">
                <div class="p-8 align-self-center">
                    {{item.descripcion}}
                </div>
                <div class="container">
                    <div class="skills {{item.estilo}}">{{item.porcentaje}}</div>
                </div>
          </div>
        </li>
    </div>
</div>
