header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.presentacion {
    margin-top: 10px;
    height: 300px;
}

#redes {
    margin-top: 30px;
    position: relative;
}


#texto_yoprogramo {
    margin-top: 25px;
    width: 40px;
    height: 40px;
    left: 200px;
    color: black;
    font-family: Verdana;
    font-size: 30px;
}


#foto_principal{
    float: left;
    width: 100%;
    height: 300px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#acerca{
    margin-left: 200px;
    margin-top: 100px;
}

#btn-acerca{
    width: 50px;
    height: 50px;
    margin-top: -250px;
    margin-left: 350px;
}

#btn-confirmar{
    width: 50px;
    height: 50px;

}

#description-input{
    width: 200px;
}