<h1>{{title}}</h1>

<div class="container">
    <div class="row">
        <div class="col"><a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <img id="arg_prog" src="resources/IMAGENES PORF/arg-prog.jpeg" class="img-fluid" alt=""></a>
        </div>
          <div class="col"><a id="texto_yoprogramo" class="nav-link active" aria-current="page" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank">
                    #YoProgramo</a>
            </div>
              <div id="redes" class="col"><a href="https://www.facebook.com/javier.spada.14" target="_blank"> 
                  <img src="resources/IMAGENES PORF/icons-facebook.png" class="img-thumbnail" style="width: 50px; height: 50px;" alt=""></a>
                  <a href="https://www.instagram.com/javispada/?hl=es-la" target="_blank"> 
                    <img src="resources/IMAGENES PORF/icono-instagram.jpeg" class="img-thumbnail" style="width: 50px; height: 50px;" alt=""></a>
                    <div id="open_close">LOGIN</div>
                    <form id="login" action="" >
                        <label for="">Nombre:</label>
                        <input type="text" id="nombre" placeholder="Nombre">
                        <label for="">Contraseña:</label>
                        <input type="password" id="pass" placeholder="Contraseña">
                        <input type="submit" value="Enviar" id="enviar">
                    </form>
              </div>
            </div>
</div>

<div class="presentacion">
  <img id="foto_principal" src="resources/IMAGENES PORF/banner1.jpg" class="img-fluid">
  <img id="foto_perfil" src="resources/IMAGENES PORF/foto-perfil.jpg" class="img-fluid">
</div>
