<div class="contenedor_proyectos">
    <h1 class="titulos">Proyectos</h1>
    <div class="slider-contenedor">
        <section class="contenido-slider">
            <div>
                 <h2>Proyecto personal e integrador de conocimientos en desarrollo web. Como parte final de la Capacitación virtual recibida 
                     a travez de los programas #SeProgramar #YoProgramo.
                     Dependientes del Ministerio de Desarrollo Productivo de la Nación.    
                 </h2>
                 <a href="#">LINK</a>
            </div>
            <img id="porfolio" src="assets/img_porfolio/porfolio.png">
        </section>
        <section class="contenido-slider">
            <div>
                 <h2>Se incorporan conocimientos en HTML, CSS, JS y BOOTSTRAP como parte del Frontend,
                     Utilización de Angular. Backend con Base de Datos, MySQL, JAVA    
                 </h2>
                   <a href="#">LINK</a>
            </div>
            <img id="porfolio" src="assets/img_porfolio/porfolio2.png">
        </section>
        <section class="contenido-slider">
            <div>
                 <h2>Desarrollo en proceso para emprendimiento relacionado con el bienestar y la salud. 
                     Incorporacion de barra de navegacion, formulario de contacto y comentarios.
                     Presentaciones de los diferentes servicios o prestaciones. 
                 </h2>
            </div>
            <img id="porfolio" src="assets/img_porfolio/proyecto-KIMIA.png">
        </section>
    </div>
</div>
